<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Energeniaal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>           
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Energeniaal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Energeniaal.Properties.Settings>
            <setting name="LogToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullLogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>??</value>
            </setting>
            <setting name="ChartMinutes" serializeAs="String">
                <value>30</value>
            </setting>
        </Energeniaal.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Energeniaal.Properties.Settings>
            <setting name="MaxDaysTwoHourHistory" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="MaxDaysDayHistory" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="MaxMonthsMonthHistory" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="MaxChannels" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxSensors" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxChartMinutes" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="EnergeniaalUrl" serializeAs="String">
                <value>http://www.energeniaal.nl</value>
            </setting>
            <setting name="DefaultLogFileName" serializeAs="String">
                <value>Energeniaal-log.txt</value>
            </setting>
            <setting name="DefaultCulture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>Energeniaal</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>1800000</value>
            </setting>
        </Energeniaal.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
